{% extends 'base.html' %} {% block head %}
<script
  type="text/javascript"
  src="{{url_for('static', filename='js/statements.js')}}"
  defer
></script>
<link
  rel="stylesheet"
  href="{{url_for('static',filename='dist/css/statements.css')}}"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block content %} 
{% set state = {1: ['bg-gray-100', 'новое'], 2: ['bg-gray-100 text-white', 'подтверждено'], 3: ['bg-gray-100
text-white', 'отклонено']} %} 
<div class="p-4 flex justify-center bg-red-200 h-screen">
  <div
    class="p-4 border-2 w-full mx-auto max-w-screen-lg h-min"
  >
    <div class="flex flex-col gap-4 mb-4">
      <h1 class="text-center">Все Заявления</h1>
      {% if statements %} {% for statement in statements %}
      <div class="flex items-center bg-white md:text-lg">
        <div class="w-2/3">
          <div class="overflow-hidden p-4 text-center">{{statement.full_name}} {{statement.phone}} {{statement.email}} {{statement.booking_date}} {{statement.auto}} {{statement.problem}}</div>
        </div>
        <div
          class="{{state[statement.id_status][0]}} p-4 text-black w-1/3"
          id="stateToggle"
        >
          <button class="text-center w-full btn" id="btn">
            <div>{{state[statement.id_status][1]}}</div>
            <i class="bx bx-chevron-down" id="arrow"></i>
          </button>

          <div class="dropdown" id="dropdown" data-id="{{statement.id}}">
            <button data-flag="1">подтверждено</button
            ><button data-flag="2">отклонено</button>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="{{url_for('static', filename=js/admin_statements.js)}}"
></script>
{% endblock %}
